# Python templates
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node templates
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
